<include file="Public/header.html" />
<div class="top">
    <div class="width1000 top_two">
        <ul>
            <li><a href="{:U('Index/index')}">HOME</a></li>
            <li><a href="{:U('Index/product')}">PRODUCTS</a></li>
            <li><a href="{:U('Index/water')}">WATER&HEALTH</a></li>
            <li><a href="{:U('Index/plat')}">PUBLIC</a></li>
            <li class="active"><a href="{:U('Index/health')}">CONTACTS</a></li>
            <li><a href="http://shop.fndtech.org">SHOP</a></li>
        </ul>
    </div>
</div>
<!-- 地图 -->
<div class="plat_dm"></div>
<!-- 地图 -->


<!-- 地址 -->
<div class="width1000 week">
    <p>
        <span>WeChat: fnd-water </span>
        <span>Hot-line:400-678-9696 </span>
        <span>Address: 31st Floor,Everbright Bank Building, Zhuzilin, Futian District,Shenzhen</span>
    </p>
    <img src="Public/images/qrcode_for_gh.jpg" />
</div>
<!-- 地址 -->

<include file="Public/footer.html"/>
