<include file="Public/header.html" />
<div class="top">
    <div class="width1000 top_two">
        <ul>
            <li><a href="{:U('Index/index')}">HOME</a></li>
            <li class="active"><a href="{:U('Index/product')}">PRODUCTS</a></li>
            <li><a href="{:U('Index/water')}">WATER&HEALTH</a></li>
            <li><a href="{:U('Index/plat')}">PUBLIC</a></li>
            <li><a href="{:U('Index/health')}">CONTACTS</a></li>
            <li><a href="http://shop.fndtech.org">SHOP</a></li>
        </ul>
    </div>
</div>
<!-- 轮播图 -->
<div class="banner">
    <ul>
        <li class="banner1"></li>
        <li class="banner2"></li>
        <li class="banner3"></li>
    </ul>
    <!--
    <ol>
    </ol>
    -->
    <div class="banner_list">
        <a href="javascript:;" class="right"></a>
        <a href="javascript:;" class="left"></a>
    </div>
</div>
<!-- 轮播图 -->
<div class="visible visiblex" id="vis1">
    <div class="width1000">
        <div class="vaiible_left vaiible_leftx">
            <h3>Excellent technologyBrilliant design </h3>
            <p><i>F20</i> air water generator adopts advanced LED digital display, clearly showing the humidity, PM2.5, water amount, water level, conditions of the machine and filter cartridge.</p>
            <a href="http://shop.fndtech.org/goods.php?id=22">Read more&gt;</a>
        </div>
        <div class="vaiible_right vaiible_rightx"></div>
    </div>
</div>
<div class="visible visibley" id="vis2">
    <div class="width1000">
        <div class="vaiible_left vaiible_left2 vaiible_lefty">

        </div>
        <div class="vaiible_right vaiible_right2 vaiible_righty">
            <h3>Visible boiling Guaranteed health </h3>
            <p><i>T36</i> tea bar air water generator adds external heating function on the basis of air water production. It sets health tea pots, with constant temperature at the chassis. The heating tea pot is made of food grade stainless steel, with efficient heating, delicate touching, and smart operation functions.</p>
            <a href="http://shop.fndtech.org/goods.php?id=5">Read more&gt;</a>
        </div>
    </div>
</div>
<div class="visible visiblez" id="vis3">
    <div class="width1000">
        <div class="vaiible_left">
            <h3>Excellent technologyBrilliant design </h3>
            <p><i>P50</i> air water generator adopts advanced LED digital display, clearly showing the humidity, PM2.5, water amount, water level, conditions of the machine and filter cartridge.</p>
            <a href="http://shop.fndtech.org/goods.php?id=9">Read more&gt;</a>
        </div>
        <div class="vaiible_right vaiible_rightz"></div>
    </div>
</div>
<include file="Public/footer.html"/>
