<include file="Public/header.html" />
<div class="top">
    <div class="width1000 top_two">
        <ul>
            <li><a href="{:U('Index/index')}">HOME</a></li>
            <li><a href="{:U('Index/product')}">PRODUCTS</a></li>
            <li><a href="{:U('Index/water')}">WATER&HEALTH</a></li>
            <li><a href="{:U('Index/plat')}">PUBLIC</a></li>
            <li><a href="{:U('Index/health')}">CONTACTS</a></li>
            <li class="active"><a href="http://shop.fndtech.org">SHOP</a></li>
        </ul>
    </div>
</div>
<!-- 轮播图 -->
<div class="banner">
    <ul>
        <li><img src="Public/images/banner2.jpg" /></li>
        <li><img src="Public/images/banner3.jpg" /></li>
        <li><img src="Public/images/banner4.jpg" /></li>
    </ul>
    <!--
    <ol>
    	<li class="active">1</li>
    	<li>2</li>
    	<li>3</li>
    	<li>4</li>
    </ol>
    -->
    <div class="banner_list">
        <a href="javascript:;" class="right"></a>
        <a href="javascript:;" class="left"></a>
    </div>
</div>
<!-- 轮播图 -->
<div class="index_list">
    <div class="width1000">
        <ul>
            <li>
                <img src="Public/images/max1.png" />
                <h3>Environment Safeguard</h3>
                <p>Funengda has made remarkable achievements in sewage treatment, and drinking water security for urban and ruFunengda has made remarkable achievements in sewage treatment, and drinking water security for urban and rural residents. It has created tomorrow’s water source: air water, in order to cope with the global water crisis. It has initiated a new revolution in water purification industry. l residents. It has created tomorrow’s water source: air water, in order to cope with the global water crisis. It has initiated a new revolution in water purification industry.</p>
            </li>
            <li>
                <img src="Public/images/max2.png" />
                <h3>Technology Power</h3>
                <p>Funengda has established strategic cooperation with Tsinghua University, Zhejiang University, Shandong University, Shandong Jianzhu University, and produced ‘the first business air-water generator in the world’, ‘the first zero-discharge water purifier in China’.  </p>
                <!-- <input type="button" value="Read&nbsp;more" />-->
            </li>
            <li>
                <img src="Public/images/max3.png" />
                <h3>Aerospace Patents </h3>
                <p class="none">Funengda has acquired many patents in water technology. For instance, the zero-discharge water purifier technology, and high performance molecular filtration&modification technology are the innovation patents exclusive to the company. It is the direct contributor for the water recycle system of Shenzhou 5, 10 and Chang’E 3 in China Aerospace&Technology Corp.</p>
                <!--<input type="button" value="Read&nbsp;more" />-->
            </li>
        </ul>
    </div>
</div>

<div class="width1000 video">
    <div class="video_left"><embed height=100% width=100% src="Public/video/978b9f326889561afcc8ec84c55edfcf.mp4" frameborder=0 allowfullscreen></embed></div>
    <div class="video_right">
        <div class="video_list">
            <p>Funengda air water technology has acquired</p>
            <h3>China manned aerospace contribution award’</h3>
        </div>
        <img src="Public/images/F20.png" />
    </div>
</div>
<div class="width1000 article">
    <h3>About<span>Us</span></h3>
    <p>  Funengda is a high-tech enterprise in R&D, production, sales, and after-sales service. With a view to the global water purification, water health, water security, and water crisis, we have been committed to the scientific development of drinking water for the human beings. Jinan Funengda Water Technology Development Co.,Ltd. was founded in 1998. Shenzhen Funengda Air&Water Science Technology Development Co.,Ltd. was founded in 2013; And its headquarter locates in the innovation capital of China-Shenzhen. <br />
        We have three R&D bases: Shenzhen Funengda Air&Water Science Technology Development Co.,Ltd., Jinan Funengda Water Technology Development Co.,Ltd., and Guangdong Shunde Hongshu Electric Technology Co.,Ltd. Shenzhen Funengda Air&Water Science Technology Development Co.,Ltd. has made remarkable achievements in sewage treatment, and drinking water security for urban and rural residents. It has produced ‘the first business air-water generator in the world’, ‘the first zero-discharge water purifier in China’, and initiated a new revolution in water purification industry. Shenzhen Funengda Air&Water Science Technology Development Co.,Ltd. has acquired many patents in water technology. For instance, the zero-discharge water purifier technology, and high performance molecular filtration&modification technology are the innovation patents exclusive to the company.
        Funengda water technology products fall into 8 categories and over 100 types, and are widely applied to family, office, hotel, restaurant, ship, holiday flat, hospital, construction site, mine, marine drilling platform, naval vessel, livestock & poultry farm, and military. They can demonstrate their unique advantages especially in the natural disasters’ rescue scenes. With a concept of ‘Creating Tomorrow’s Water Source’, and a mission of ‘Producing Superior Water for the People Globally with the Least Cost’, the company has become an innovator and pioneer in air-water industry, and has dedicated to addressing the water issue in the world.  </p>
</div>
<include file="Public/footer.html"/>

