<include file="Public/header.html" />
<div class="top">
    <div class="width1000 top_two">
        <ul>
            <li><a href="{:U('Index/index')}">HOME</a></li>
            <li><a href="{:U('Index/product')}">PRODUCTS</a></li>
            <li class="active"><a href="{:U('Index/water')}">WATER&HEALTH</a></li>
            <li><a href="{:U('Index/plat')}">PUBLIC</a></li>
            <li><a href="{:U('Index/health')}">CONTACTS</a></li>
            <li><a href="http://shop.fndtech.org">SHOP</a></li>
        </ul>
    </div>
</div>
<div class="water_bt">
    <img src="Public/images/BT.jpg" />
</div>
<div class="width1000 water_list">
    <ul>
        <li class="left">
            <p>Cold:Take more water. A passage in ‘New York Times’ said on Jan. 21, 2011: It’s of great help for one to get recovery by taking more water or juice, which removes the mucus in the respiratory tract and makes a smooth breathing. In addition, if one gets fever, the body has to reduce its temperature on account of self-protection. You will have symptoms of sweating, tachypnea, increased moisture on the skin, and you have to replenish sufficient water. T</p>
            <div class="water_bottom">
                <img src="Public/images/ccc.jpg" />
                <span>Funengda Air&Water Health Officer </span>
            </div>
        </li>
        <li class="right">
            <p>Constipation: Swilling. There are two simple reasons for constipation: 1, The body lacks water and has stool inside. 2, Organs like the intestine has no power to discharge waste. Taking large amount of water and swallowing quickly helps to make water reach the intestine quickly, activate the gut movements, and fastens stool discharge. One of the reasons for constipation by Traditional Chinese Medicine is shortage of body fluid. Swilling helps to supplement the body fluid, making stool discharge smoothly. </p>
            <div class="water_bottom">
                <img src="Public/images/ccc.jpg" />
                <span>Funengda Air&Water Health Officer </span>
            </div>
        </li>
        <li class="left">
            <p>Vomiting: Drink some lightly salted water. Vomiting is a reflection of self-protection after the take-in of contaminated food. To avoid serious vomiting or dehydration, one had better take some salted water to improve the energy, and alleviate the feeble condition.  </p>
            <div class="water_bottom">
                <img src="Public/images/ccc.jpg" />
                <span>Funengda Air&Water Health Officer </span>
            </div>
        </li>
        <li class="right">
            <p>Obesity: Take a cup of water before and after the meal. Many chemical reactions in the human body take place in ‘water’. Only sufficient water can guarantee the normal functioning of metabolism. For those with obesity, they can take a cup of water half an hour before the meal to increase the satiety; and take another cup after the meal to improve the digestive function and to keep fit.   </p>
            <div class="water_bottom">
                <img src="Public/images/ccc.jpg" />
                <span>Funengda Air&Water Health Officer </span>
            </div>
        </li>
    </ul>
</div>
<include file="Public/footer.html"/>